body {
    background-color: #000000;
    color: lightgray;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color:aquamarine;
    font-size: 42px;
    text-align: center;
    margin: 30px;

}

#nav {
    float: left;
    width: 200px;
    background-color: white;
    color: black;
    border: 5px solid white;
    margin-right: 5px;
}

.nav_but {
    text-align: center;
    width: 200px;
    height: 75px;
    margin-top: 20px;
    top: 50%;
}

.single_button {
    margin-top: 10%;
}

#content {
    float: left;
    width: 780px;
}

#listing {
    background-color: bisque;
}

.listing_option {
    float: right;
    margin: 10px;
}


